<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SushiHouse</title>
</head>
<body>



<nav class="flex">
<a href=""><img src="./assets/images/logoo.png"  class="size-32" class="flex-auto w-32" alt="Logo sushi House"></a>
<a href="" class="no-underline" class="text-slate-50" class="flex-auto w-32 h-14" class="mt-10">Acceuil</a>
<a href="" class="no-underline" class="text-slate-50" class="flex-auto w-32 h-14" class="mt-10">Menus</a>
<a href="" class="no-underline" class="text-slate-50" class="flex-auto w-32 h-14" class="mt-10">Sushis</a>
<a href=""><img src="" alt="Icon panier"></a>
<a href=""><img src="" alt="Icon Compte Utilisateur"></a>
</nav>

