<nav class="bg-zinc-900 opacity-90 p-0 grid grid-cols-3 w-full gap-4">
    <div>
        <img src="./assets/images/logoo.png" class="w-2/12 " alt="Logo sushi House">

    </div>
    <div class="grid grid-cols-3 items-center ">
        <a routerLink="/" class="text-slate-50 font-Josefin text-xl">Acceuil</a>
        <a routerLink="menus" class="text-slate-50 font-Josefin text-xl">Menus</a>
        <a routerLink="sushi" class="text-slate-50 font-Josefin text-xl">Sushis</a>
    </div>
    <div class="grid place-items-end " >

        <div class="w-1/4 ml-auto mt-auto mb-auto flex ">
            <a href="" class="flex items-end mr-4">
                <lucide-icon name="ShoppingBasket" color="#ffffff" [size]="30" [strokeWidth]="1.5"></lucide-icon>
            </a>
            <a href="">
                <lucide-icon name="UserCircle" color="#ffffff" [size]="30" [strokeWidth]="1.5"></lucide-icon>
            </a>
        </div>

    </div>


</nav>