<a routerLink="/details/{{Box.id}}" class="w-full grid justify-items-center ">
    <div class="m-2 relative w-2/3  hover:w-80 hover:shadow-lg  hover:shadow-black-500/50 sm:w-72 h-80 ">
        <div class="absolute z-40 text-white  bg-black/40 w-full h-full rounded-md">
            <div class="absolute grid grid-cols-2 w-full  p-2">
                <div class="grid justify-items-start ">
                    <h3 class="text-2sm font-sans">{{Box.name}}</h3>
                </div>
                <div class="grid justify-items-end ">
                    <h3 class="text-2sm font-sans">{{Box.price | currency: 'EUR'}}</h3>
                </div>
            </div>
        </div>
        <img [src]="Box.image" class="w-full object-cover h-full rounded-md" [alt]="Box.name">
    </div>
</a>