<div class="m-2 relative  w-72 h-80 ">
    <div class="absolute z-40 text-white  bg-black/50 w-full h-full rounded-md">
        <div class="absolute grid grid-cols-2 w-full  p-2">
            <div class="grid justify-items-start "><h3 class="text-2sm font-sans">Tasty Blend</h3></div>
            
            <div class="grid justify-items-end "><h3 class="text-2sm font-sans">14$</h3></div>

        </div>

        <div class="w-full absolute bottom-0">
            <button class="w-1/2 m-3 p-2 rounded-full text-center border border-white-500 mr-auto border-solid">
                add to card
            </button>
        </div>
    </div>
    <img src="http://localhost:4000/src/assets/box_img/17.png" class="w-full object-cover h-full rounded-md" alt="">
</div>