<div class=" mt-32">
    <table class="w-full table-fixed border-spacing-4  text-white ">
        <thead>
            <tr>
                <th class="text-2xl font-serif font-light">Détails</th>
                <th class="text-2xl font-serif font-light">Quantité</th>
                <th class="text-2xl font-serif font-light">Total</th>
            </tr>
        </thead>
        <tbody class="w-full">
            <tr *ngFor="let item of item" class="w-full">
                <td class="flex flex-col p-4 items-center">
                    <h2 class="text-xl p-2 text-white">{{ item.name }}</h2><img [src]="item.image"
                        class="size-52 rounded-md" [alt]="item.name">
                </td>
                <td class="border-spacing-4  ">
                    <div
                        class="w-1/2 m-auto flex justify-center space-x-8 items-center border border-white rounded-full">
                        <button class="p-2 text-2xl" (click)="removeItemFromCard(item.id)" >-</button> <span class="p-2  text-xl">{{item.quantity}}</span>
                        <button class="p-2  text-2xl" (click)="addItemsToCard(item.id)" >+</button>
                    </div>
                </td>
                <td class="border-spacing-4">
                    <p class="w-full text-2xl text-center">{{ item.price | currency}}</p>

                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <h1 class="text-white text-2xl">Total de la commande : $ {{totalCart()}}</h1>
    </div>
</div>