<div class=" mt-32">
    <table class="w-full table-fixed border-spacing-4  text-white ">
        <thead>
            <tr>
                <th class="text-2xl font-serif font-light">Détails</th>
                <th class="text-2xl font-serif font-light">Quantité</th>
                <th class="text-2xl font-serif font-light">Total</th>
                <th class="text-2xl font-serif font-light">Action</th>
            </tr>
        </thead>
        <tbody class="w-full">

            <tr *ngFor="let box of boxs" class="w-full">
                <td class="flex flex-col p-4 items-center">
                    <h2 class="text-xl p-2 text-white">{{ box.name }}</h2><img [src]="box.image"
                        class="size-52 rounded-md" [alt]=" box.name">
                </td>
                <td class="border-spacing-4  ">
                    <div
                        class="w-1/2 m-auto flex justify-center space-x-8 items-center border border-white rounded-full">
                        <button class="p-2 text-2xl" (click)="removeBoxToCard(box.id)">-</button> <span
                            class="p-2  text-xl">{{box.quantity}}</span>
                        <button class="p-2  text-2xl" (click)="addBoxToCard(box.id)">+</button>
                    </div>
                </td>
                <td class="border-spacing-4">
                    <p class="w-full text-2xl text-center">{{ box.price | currency}}</p>

                </td>
                <td class="justify-center">
                    <lucide-icon name="Trash2" class="pl-2" color="#ffffff" [size]="30" [strokeWidth]="1.5"
                        (click)=" deleteBox(box.id)"></lucide-icon>
                </td>
            </tr>

            <tr *ngFor="let drink of drinks" class="w-full">
                <td class="flex flex-col p-4 items-center">
                    <h2 class="text-xl p-2 text-white">{{ drink.name }}</h2><img [src]="drink.image"
                        class="size-52 rounded-md" [alt]=" drink.name">
                </td>
                <td class="border-spacing-4  ">
                    <div
                        class="w-1/2 m-auto flex justify-center space-x-8 items-center border border-white rounded-full">
                        <button class="p-2 text-2xl" (click)="removeDrinkToCard(drink.id)">-</button> <span
                            class="p-2  text-xl">{{drink.quantity}}</span>
                        <button class="p-2  text-2xl" (click)="addDrinkToCard(drink.id)">+</button>
                    </div>
                </td>
                <td class="border-spacing-4">
                    <p class="w-full text-2xl text-center">{{ drink.price | currency}}</p>

                </td>
                <td class="justify-center">
                    <lucide-icon name="Trash2" class="pl-2" color="#ffffff" [size]="30" [strokeWidth]="1.5"
                        (click)="deleteDrink(drink.id)"></lucide-icon>
                </td>
            </tr>

        </tbody>
    </table>
    <div>
        <!--  <h1 class="text-white text-2xl">Total de la commande : {{totalCart() | currency : 'EUR' }}</h1>  -->
    </div>
</div>