
<div class="bg-home-image bg-cover lg:w-full  h-dvh ">
    <h1 class=" font-hiro text-6xl pt-60 pl-20 text-white"> Sortez Vos <br> Baguettes !</h1>
    <p class=" font-serif text-2xl pl-20 w-1/3 text-white" >Venez découvrir nos sushis faits avec des produits de qualité.</p>

    <div class=" pl-20 pt-10">
        <button class=" flex p-3 rounded-2xl text-white text-2xl font-serif bg-green-500 ">Commander<lucide-icon name="utensils-crossed" class="pl-2" color="#ffffff" [size]="30" [strokeWidth]="1.5"></lucide-icon></button>
    </div>

</div>
